@import url(/css/general/style.css) all;

.intro{
    margin: 5em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.intro img{
   width: 10em;
}
.intro p{
    font-size: 90%;
}

form{
    margin: 2em 25em;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 25px;
    border: .2px solid #3f3f3f65;
    height: 2.5em;
    transition: .5s ease;
}
form input{
    width: 96%;
    height: 100%;
    padding: 1em 0 1em 2em;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'poppins', sans-serif;
    display: flex;
}
form:hover{
    box-shadow: 0 2px 5px #cdcdcd;
}

form button{
    width: 10%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    transition: .5s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bx-search{
    border: none;
    width: auto;
    height: auto;
    font-size: 150%;
    font-weight: 700;
    color: #179411;
}













.loading-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    animation: pulse 1.5s infinite; /* Apply the pulse animation */
}

.loading-logo img {
    width: 5em;
    animation: pulse 1.5s infinite; /* Ensure the image also pulses */
}

/* Keyframes for the pulsing effect */
@keyframes pulse {
    0% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.1); /* Slightly larger */
    }
    100% {
        transform: scale(1); /* Back to original size */
    }
}


header, .intro, form, .freq {
    display: none; /* Hide content initially */
}



.freq{
    align-items: center;
    justify-content: center;
    flex-direction: column;     
    gap: 1em;
    font-family: "Ubuntu", sans-serif;
}
.freq .top{
    font-weight: 400;
    font-size: 110%;
}
.freq .items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    width: 30%;
    text-align: center;
    font-size: 75%;
}
.freq .items a{
    color: #2f70cbd9;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
}






@media (max-width: 550px ) {
    header{
        padding: .8em 1.5em;
    }   
    .intro{
        margin: 1em 0 0 0;
        padding: 2em;
        gap: .5em;
        text-align: center;
    }
    .intro h1{
        font-size: 120%;
    }
    .intro p{
        font-size: 80%;
    }

    form{
        margin: 0 1em;
        height: 2.5em;
    }
    form button{
        width: 15%;
    }


    .freq{
        align-items: flex-start;
        padding: 2em;
        margin-top: 2em;
    }
    .freq .items{
        align-items: flex-start;
        flex-direction: column;
        gap: 1em;
        width: 90%;
        text-align: justify;
    }
}
