@import url(/css/general/style.css) all;

.intro{
    margin: 7em 0 0 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.intro img{
   width: 12em;
}
.intro p{
    font-size: 90%;
}

form{
    display: flex !important;
    margin: 2em 23em;
    align-items: center;
    background: transparent;
    border-radius: 25px;
    border: 3px solid #3aa535;
    height: 2.8em;
    transition: .5s ease;
}
form input{
    width: 96%;
    height: 100%;
    padding: 1em 0 1em 2em;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'poppins', sans-serif;
    display: flex;
}


form button{
    width: 10%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    transition: .5s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bx-search{
    border: none;
    width: auto;
    height: auto;
    font-size: 150%;
    font-weight: 500;
    color: #179411;
}












header, .intro, form, .freq {
    display: none; /* Hide content initially */
}



.freq{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
}
.freq .items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    text-align: center;
    font-size: 75%;
}
.freq .items a{
    color: #47ad41;
    font-weight: 400;
    text-decoration: underline;
    padding: 0;
}


@media (prefers-color-scheme: dark){
    form{
        background: #fefefe;
    }
}
@media (max-width: 550px ) {
    .intro{
        margin: 2em 0 0 0;
        padding: 2em;
        gap: .5em;
    }
    .intro img{
        width: 10em;
    }
    .intro p{
        font-size: 80%;
    }

    form{
        margin: 0 1em;
        height: 2.5em;
    }
    form button{
        width: 15%;
    }


    .freq{
        width: 100%;
        padding: 1.5em;
    }
    .freq .items{
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        font-size: 80%;
    }
    
}
