@import url(/css/general/style.css) all;


body{
    font-size: 15px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #91919165;
    gap: 3em;
    padding: 1em 2em;
}

form{
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #3f3f3f65;
    height: 3em;
    width: 40%;
}
form input{
    width: 90%;
    height: 100%;
    padding: 1em 0 1em 1em;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'poppins', sans-serif;
}
form:hover{
    box-shadow: 0 0 7px #cdcdcd;
}
form button{
    width: 10%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    transition: .5s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bx-search{
    border: none;
    width: auto;
    height:auto;
    font-size: 150%;
    font-weight: 700;
    color: #179411;
}















#results-container{
    margin: 5em 0 5em 20em;
    padding: 0 0 2em 0;
    font-size: 90%;
    width: 50em;
}
.article{
    margin-top: 2em;
}
#title{
    color: #0060cd;
    font-size: 125%;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}

.date{
    color: #3e3e3ecc;
    font-size: 95%;
}
.article-snippet{
    color: #121212cc;
    margin-top: .2em;
}
.article-author{
    border: 1px solid #3f3f3f65;
    padding: 6px;
    border-radius: 16px;
    display: inline-block;
    font-size: 65%;
    color:#0500a2;
    margin-top: 1em;
    cursor: pointer;
}









@media (max-width: 550px ) {
    .logo img{
        width: 10em;
    }
    header{
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        padding: 2em 1.5em !important;

    }
    form{
        width: 100%;
        margin: 0;
        height: 2.5em;
    }
    form button{
        width: 12%;
    }
    #results-container{
        margin: 0;
        padding: 2em;
        font-size: 90%;
        width: 100% !important;
    }




}