@import url(/css/general/style.css) all;

body{
    font-size: 15px;
}
header{
    display: flex;
    align-items: center;
    gap: 2em;
    border-bottom: 1px solid #3f3f3f65;
}

.article{
    margin: 5em 25em 4em 15em;
}


#topic-title{
    color: #0500a2;
    width: 70%;
    text-align: center;
}
.title-date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topic-date{
    font-size: 80%;
    font-style: italic;
}

#topic-note{
    margin-top: 2em;
    text-align: justify;
}
#topic-note p{
    margin-top: 1em;
}
h3{
    margin: 2em 0 .5em 0;
    font-weight: 600;
}

.author-section{
    margin-top: 4em;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}
.author-section img{
    border: 1px solid #3f3f3f65;
    background: #3f3f3f65;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin-top: 10em;
}
#topic-author{
    font-size: 90%;
    margin-top: 1em;
}







form{
    display: flex;
    align-items: center;
    background: #dcdcdc25;
    border-radius: 5px;
    border: 1px solid #3f3f3f65;
    height: 2.5em;
    width: 40%;
}
form input{
    width: 90%;
    height: 100%;
    padding: .5em;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'poppins', sans-serif;
}
form input:focus{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 2px solid #179411;
}
form button{
    width: 10%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    transition: .5s ease;
    border: 1px solid #179411;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #179411;
}
.bx-search{
    padding: .5em;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 120%;
    font-weight: 700;
    color: #fefefe;
}





@media (max-width: 550px ) {
    header{
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;
        padding: 2em 1em !important;
    }
    form{
        width: 90%;
        margin: 0;
    }
    #topic-title{
        width: 100%;
    }
    .article{
        margin: 0;
        padding: 2em;
        font-size: 90%;
        width: 100% !important;
    }
    .author-section{
        position: static;
        right: auto;
        top: auto;
        width: auto;
        height: auto;
        padding: 2em 0 !important;
    }
    .author-section img{
        margin-top: 0 !important;
    }
}