@import url(/css/general/style.css) all;

body{
    font-size: 15px;
}
header{
    display: flex;
    align-items: center;
    gap: 2em;
    border-bottom: 1px solid #7e7e7e65;
}

.article{
    margin: 3em 25em 4em 15em;
    padding: 0 0 2em 0;
}


#topic-title{
    color: #0060cd;
    width: 70%;
    text-align: center;
    font-weight: 550;
}
.title-date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topic-date{
    font-size: 80%;
    font-style: italic;
}

#topic-note{
    margin-top: 2em;
    text-align: justify;
}
#topic-note p{
    margin-top: 1em;
}
h3{
    margin: 2em 0 .5em 0;
    font-weight: 600;
}

.author-section{
    margin-top: 4em;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}
.author-section img{
    border: 1px solid #3f3f3f65;
    background: #3f3f3f65;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin-top: 10em;
}
#topic-author{
    font-size: 100%;
    font-weight: 500;
    margin-top: 1em;
}





h1, h2, h3 {
    color: #333;
    margin-top: 2em;
}

p {
    margin-bottom: 0;
}

ul {
    margin: 20px 0;
    padding: 0;
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}





form{
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #3f3f3f65;
    height: 3em;
    width: 40%;
}
form input{
    width: 90%;
    height: 100%;
    padding: 1em 0 1em 1em;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'poppins', sans-serif;
}
form:hover{
    box-shadow: 0 0 7px #cdcdcd;
}
form button{
    width: 10%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    transition: .5s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bx-search{
    border: none;
    width: auto;
    height:auto;
    font-size: 150%;
    font-weight: 700;
    color: #179411;
}




@media (max-width: 550px ) {
    .logo img{
        width: 10em;
    }
    header{
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        padding: 2em 1.5em !important;

    }
    form{
        width: 100%;
        margin: 0;
        height: 2.5em;
    }
    form button{
        width: 30%;
    }
    #topic-title{
        width: 100%;
    }
    .article{
        margin: 0;
        padding: 2em;
        font-size: 90%;
        width: 100% !important;
    }
    .author-section{
        position: static;
        right: auto;
        top: auto;
        width: auto;
        height: auto;
        padding: 2em 0 !important;
    }
    .author-section img{
        margin-top: 0 !important;
    }
}